<!DOCTYPE html>
<html>
  <head>
    <title>Webpage wordcount</title>
  </head>
  <body>
    <div>
      <h1>Webpage - Wordcount</h1>
      <form role="form" method='POST' action='/'>
        <div>
          <input type="text" name="url" placeholder="Enter URL...">
        </div>
        <button type="submit">Submit</button>
      </form>
      <br>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
      <br>
      <h3>List of URLs and corresponding wordcount</h3>
      <table>
          <thead>
              <tr>
                  <th>URLs</th>
                  <th>Count</th>
              </tr>
          </thead>
          <tbody>
            {% for result in results %}
                <tr>
                  <td>{{ result.url }}</td>
                  <td>{{ result.count }}</td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </body>
</html>